{
  "jobs": [
    {
      "name": "Cron job 1",
      "schedule": "* * * * *",
      "source": "/app/sample_tasks/cron_task.ts"
    },
    {
      "name": "Cron job 2",
      "schedule": "* * * * *",
      "source": "/app/sample_tasks/cron_task.ts",
      "funcName": "job2"
    }
  ]
}
